dist: bionic
os:
- linux
- windows
language: ruby
addons:
  ssh_known_hosts: nick.bewegung.jetzt
env:
- COBALT_BUILD_DIR: build
before_script:
  - curl -LSfs https://japaric.github.io/trust/install.sh |
    sh -s --
    --git cobalt-org/cobalt.rs
    --crate cobalt
    --force
    --target x86_64-unknown-linux-gnu
    --tag v1.0.0
  - export PATH="$PATH:~/.cargo/bin"
script:
- cobalt build

before_deploy:
- openssl aes-256-cbc -K $encrypted_5dee9ab00760_key -iv $encrypted_5dee9ab00760_iv
  -in .deploy/deploy_rsa.enc -out /tmp/deploy_rsa -d
- eval "$(ssh-agent -s)"
- chmod 600 /tmp/deploy_rsa
- ssh-add /tmp/deploy_rsa

deploy:
  provider: script
  cleanup: true
  script: rsync -r --delete-after --quiet $TRAVIS_BUILD_DIR/$COBALT_BUILD_DIR/ root@nick.bewegung.jetzt:/var/dib/iris/build
  on:
    branch: master
    condition: '"$TRAVIS_PULL_REQUEST" = "false"'
