sudo: false
addons:
  ssh_known_hosts: nick.bewegung.jetzt
env:
- COBALT_BUILD_DIR: build
before_script:
- curl https://github.com/DemokratieInBewegung/iris/releases/download/cobalt-bin/cobalt-0.9.0.tar.gz | tar zxv
- chmod 770 cobalt
script:
- ./cobalt build

before_deploy:
- openssl aes-256-cbc -K $encrypted_5dee9ab00760_key -iv $encrypted_5dee9ab00760_iv
  -in .deploy/deploy_rsa.enc -out /tmp/deploy_rsa -d
- eval "$(ssh-agent -s)"
- chmod 600 /tmp/deploy_rsa
- ssh-add /tmp/deploy_rsa

deploy:
  provider: script
  skip_cleanup: true
  script: rsync -r --delete-after --quiet $TRAVIS_BUILD_DIR/$COBALT_BUILD_DIR/ root@nick.bewegung.jetzt:/var/dib/iris/build
  on:
    branch: master
    condition: '"$TRAVIS_PULL_REQUEST" = "false"'
