extends: default.liquid
---
<div >
  <h2>Archiv</h2>
  <!--<br />-->
  <div>
    {% for post in posts %}
      <div>
        <h4><a href="{{post.path}}">{{post.edition}}: {{ post.title }}</a></h4>
      </div>
    {% endfor %}
  </div>
</div>
