
/* General styles */
body {
  display: flex;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

a, a:visited {
  font-style: normal;
  text-decoration: none;
  color: #274f9e;
}


h1, h2, h3, h4, h5 {
  font-family: "Merriweather", "New Times Roman", serif;
}

h3 {
  font-weight: normal;
}

hr {
  border-color: #eee;
}

blockquote {
  border-left: 0.2em solid #aaa;
  background: #eee;
  padding: 0.125em;
  padding-left: 1em;
  margin-left: 1em;
  font-style: italic;
}

cite {
  text-align: right;
  font-style: normal;
  font-size: 0.85em;
  display: block;
  padding-right: 1em;
}

footer {
  padding-top: 3em;
  font-size: 0.8em;
  line-height: 0.9em;
  text-align: center;
}

footer ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

footer ul li {
  display: inline;
  padding-right: 0.5em;
}

footer ul li:not(:first-child)::before {
  content: "|";
  padding-right: 0.5em;
}


/* SIDEBAR specifics */
nav {
  flex: 1 0 25vw;
  max-width: 300px;
  background: #eee;
  border-right: 2px #ddd solid;
  text-align: center;
}

nav .hide {
  display: none;
}

.top-bar {
  display: none;
}

section {
  flex: 1 1 auto;
  padding: 20px 2em;
  overflow: auto;
}

nav img.logo {
  max-width: 85%;
  display: block;
  margin: 1em auto;
  max-height: 25vh;
}

nav h1 {
  font-size: 3em;
  line-height: 1em;
  margin: 0.5em 0 0.1em 0;
}

footer svg {
  fill: #999;
  transition: 0.25s fill;
}

footer a:hover svg {
  fill: #333;
}

.subtitle {
  margin: 0 2em;
  text-align: center;
  display: inline-block;
}

/* SIDEBAR FORM */

form.mautic {
  width: 85%;
  display: block;
  margin: 2em auto 0 auto;
}

.mautic input {
  width: 75%;
  width: calc(100% - 2em);
  padding: 0 0.2rem;
  line-height: 1.5rem;
  font-size: 1.125rem;
  border: 1px solid #999;
  border-radius: 5px 0 0 5px;
  border-right: 0; 
  background-color: #f9f9f9;
}

.mautic button {
  padding: 0 0.25rem;
  line-height: 1.5rem;
  border: 1px solid #999;
  border-radius: 0 5px 5px 0;
  font-size: 1.125rem;
  background-color: #efefef;
}


/* CONTENT */

.edition {
  font-size: 0.8em;
}

.edition-title {
  margin-top: 0;
}

.page-controls {
  text-align: center;
  padding-top: 1em;
  font-size: 0.85em;
}


/* SPECIALS */

.heart {
  color: #de00ff;
}



/* Mobile  */

@media only screen and (max-width: 768px) {
  nav {
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    opacity: 1;
    transition: left 0.25s;
  }
   nav.is-visible {
    left: 0;
    transition: left 0.25s;
  }
  nav .hide {
    display: inline-block;
  }

  section {
    /* leaving space for the fixed top bar*/
    margin-top: 30px;
  }

  .top-bar {
    display: flex;
    position: fixed;
    width: 100%;
    background: white;
    height: 30px;
    overflow: hidden;
    border-bottom: 1px solid #eee;
  }

  .top-bar img.logo {
    display: inline-block;
    height: 16px;
    margin-right: 0.25em;
  }

  .top-bar h1 {
    font-size: 25px;
    line-height: 30px;
    display: block;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
  }

  nav button,
  .top-bar button {
    border: 0;
    background: transparent;
    line-height: 30px;
    cursor: pointer;
  }

  button.hide {
    float: right;
    margin-right: 0.25em;
    border-radius: 50%;
    border: 1px solid #666;
    width: 2em;
    height: 2em;
    line-height: 1.8em;
    text-align: center;
    margin-top: 0.25em;
    color: #666;
  }
}
