<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if is_post %}
          <title>{{ title }}</title>
        {% else %}
       	  <title>Iris, Die Wochenzusammenfassung zu DEMOKRATIE IN BEWEGUNG</title>
        {% endif %}

        <link rel="stylesheet" type="text/css" href="/static/styles.css">
    </head>
    <body>
      <nav>
        <a href="/"><img
            class="logo"
            alt="Iris logo: a rainbow colored flower."
            src="/static/iris-logo.png"></a>
        <h1><a href="/">Iris</a></h1>
        <p class="subtitle">Jeden Sonntag, das Wichtigste aus&nbsp;<a href="https://bewegung.jetzt" target="_blank">DEMOKRATIE&nbsp;IN&nbsp;BEWEGUNG</a> in Deiner Inbox!</p>
        
      </nav>
      <section role="content" id="main">
        {{ content }}
      </section>
      <footer>
        
      </footer>
      <link href="http://fonts.googleapis.com/css?family=Open+Sans|Merriweather" rel="stylesheet" type="text/css" />
  </body>
</html>
